@font-face {
    font-family: 'Gotham';
    src: url('fonts/CenturyGothicStd.ttf');
    src: url('fonts/CenturyGothicStd.woff2') format('woff2'), 
        url('fonts/CenturyGothicStd.woff') format('woff'), 
        url('fonts/CenturyGothicStd.ttf') format('truetype'), 
        url('fonts/CenturyGothicStd.svg') format('svg');
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: "Gotham", Helvetica, arial, sans-serif;
}
body * {
    box-sizing: border-box;
}

.fullscreen { 
    height: 100vh;
    min-height: 800px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    background: url('background.jpg');
}

#loadImg{position:absolute;z-index:999; text-align: center; width: 100%; display: block;}
#loadImg div{display:block;width:100%;height:1000px;background:#f7f7f7;text-align:center;vertical-align:middle;}

.fullscreen::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85)
}

.container {
    width: 90%;
    max-width: 850px;
    margin: 0 auto;
}

.fullscreen.map {
    height: 700px;
}

.map iframe {
    position: relative;
    z-index: 100;
}

h1.logo {
    position: relative;
    z-index: 10;
    background: url('logo.png') no-repeat center center ;
    background-size: contain;
    text-indent: -9999px;
    margin: 0 auto;
    width: 350px;
    height: 131px;
    margin-bottom: 20px;
}

p {
    position: relative;
    z-index: 4;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 28px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}

div.center {
    text-align: center;
}


 p.small {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: left;
    line-height: 26px;
    text-transform: none;
    text-align: center;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 10px;
    color: #1b8e84;
    font-size: 18px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 10px;
}

li:before {
    content: "";
    width: 6px;
    height: 6px;
    background: #1b8e84;
    border-radius: 3px;
    position: absolute;
    left: 0;
    margin-top: -5px;
    top: 50%;
    display: inline-block;
}

div.half {
    /*width: 300px;*/
    display: inline-block;
    position: relative;
    z-index: 5;
}

nav {
    position: relative;
    z-index: 5;
    text-align: left;
    width: 350px;
    margin: 20px auto;
}

address {
    background: url('pin.png') no-repeat 0 0;
    padding-left: 20px;
    background-size: contain;
    color: #fff;
    margin: 7px 0;
    text-align: left;
    display: inline-block;
    /*width: 350px;*/
}

a {
    display: inline-block;
    margin:7px 0;
    color: #fff;
    text-align: left;
    background: url('mail.png') no-repeat 0 0;
    padding-left: 25px;
    background-size: contain;
    text-decoration: none;
}

a.web {
    background: url('web.png') no-repeat 0 0;
    background-size: contain;
}

a.mob{
background: url('mobile.png') no-repeat 0 0;
background-size: contain;
}
a.tel {
    background: url('phone.png') no-repeat 5px 0;
    background-size: contain;
    padding-right: 20px;
}

a:hover {
    color: #1b8e84;
}

.bookingForm {
    background: #f7f7f7;
    text-align: center;
    padding: 25px;
    display: none;
    margin: 0 auto;
}

.bookingForm .container {
    max-width: 750px;
}

#loadImg {
    position: absolute;
    font-size: 6rem;

    z-index: 999;
    text-align: center;
    width: 100%;
    left: 0;
    padding-top: 25%;
    background: #f7f7f7;

}

@media only screen and (max-width: 500px) {
    h1.logo {
        height: 81px;
        margin-top: 20px;
    }

    p {
        font-size: 16px;
    }
}

a.btn {
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #fff;
    position: relative;
    z-index: 10;
    display: inline-block;
}
.btn:hover {
    border: 1px solid #1b8e84;
    color: #1b8e84;
}
a:hover {
    cursor: pointer;
}
